#Unit file for Sybase ASE 16.0 
[Unit]
Description=Sybase ASE Server 16.0
Wants=network-online.target
After=network-online.target

[Service]
User=sybase
Group=sybase
Type=forking
ExecStart=/home/sybase/.bin/sybase start
ExecStop=/home/sybase/.bin/sybase stop
#PIDFile=/opt/sybase/sybase_start_PID.d/sybase.pid
WorkingDirectory=/sap/cfg/ASE-16_0/install
TimeoutSec=300
Restart=no

#Alternative settings
#TimeoutSec=infinity
#SendSIGKILL=no
 
[Install]
WantedBy=multi-user.target
